.container, .container canvas, .trackView {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

.editContent {
    position: absolute;
    left: 0;
    right: 0;
}

.edit {
    border: 1px #000000 solid;
    object-fit: contain;
}